.Ticket {
  width: 100%;
  max-width: 980px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
  box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
  border-radius: 15px;
  background-color: #fff;
}

.Tickets__container {
  width: calc(100% - 190px);
  border-right: 1px solid #dde3ee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Ticket__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Ticket__content:nth-of-type(2) {
  border-top: 1px dashed #5c87db;
}

.Ticket__logo {
  width: 17%;
  max-width: 132px;
  height: 100%;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Ticket__title {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 6px 23px;
  margin: 0;
  margin-bottom: 28px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #8ba5d8;
}

.Ticket__img {
  width: 39px;
  max-width: 33%;
  height: 39px;
  max-height: 33%;
  margin-bottom: 8px;
}

.Ticket__info {
  width: calc(100% - 132px);
  max-width: 83%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 20px 27px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
}

.Ticket__data {
  width: 100%;
  margin: 32px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Ticket__inform {
  width: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Ticket__path {
  width: 40%;
  max-width: 270px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.Ticket__path-line {
  position: relative;
  width: 100%;
  height: 28px;
  background-image: url(https://loki87by.github.io/airlines-tickets/bf0102280139a016ce17abcf583d6022.svg);
  background-size: cover;
}

.Ticket__path-text {
  position: absolute;
  top: -4px;
  width: 28px;
  height: 20px;
}

.Ticket__path-time {
  position: relative;
  top: auto;
  width: 100%;
  text-align: center;
  margin: 8px auto;
}

.Ticket__path-input {
  left: -10px;
}

.Ticket__path-output {
  right: -4px;
}

.Ticket__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Ticket__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 6px 7px 7px 3px;
  margin-right: 20px;
  border: 1px solid #b7bac1;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #232323;
}

.Ticket__button_active {
  padding: 10px 18px 9px 15px;
  border-radius: 10px;
  border: none;
  color: #5c5c5c;
  background-color: #dde3ee;
}

form,
.inputs {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fff;
}

form {
  width: 963px;
  max-width: 80%;
  margin: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

fieldset {
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.inputs {
  padding: 30px;
  border-radius: 15px 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5c87db;
}

.input {
  position: relative;
  width: 24%;
  max-width: 210px;
  width: 20%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #b7bac1;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #5c5c5c;
}

input:focus {
  outline: none !important;
  border: 1px solid #5c87db;
  -webkit-box-shadow: 0px 0px 2px rgba(92, 135, 219, 0.5);
  box-shadow: 0px 0px 2px rgba(92, 135, 219, 0.5);
}

.input_error {
  border-color: red;
}

label {
  position: absolute;
  top: -13px;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.variants {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
  background-color: #c1b1b1;
  color: #000;
}

p {
  margin: 2px;
  margin-left: 5px;
  cursor: pointer;
}

.confirm {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 23px 29px;
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
  box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
}

.submit {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px 29px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #5c87db;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}

.submit:hover {
  background-color: #3e67b7;
}

.submit:active {
  background-color: #5c87db;
  color: rgba(255, 255, 255, 0.5);
}

.submit_disabled {
  background-color: #b7bac1;
}

.error {
  color: red;
}

.content {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fff;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/9a91a0398c5cb21f0199ba3baa3f08be.woff) format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/0d0bf30e7eeb4f6e7fd5b06dc59e313d.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/3f2cbde6b72e8d05669fb048b5ebc20f.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/31012f9b3e3da44f87e842e419bc267a.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/b14ca2d2b289afceb0b0fcfad933124c.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/997a1e8970d2b7e50fff7a6bdc6ff6f9.woff) format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/d5937d18c46d7ae260b68f286feea65f.woff) format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/88d7f1b3ca9a9494d8e3f8d0b856af88.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/df0f59d80526acc6d0cd31413184263f.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/3c494714cdd1de8598139896a0be932d.woff) format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/3123587706218b4d8187e526cfb4be0d.woff) format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(https://loki87by.github.io/airlines-tickets/674b1d2bd9d781457c1709340e7a28b2.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}

body {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 71px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fff;
  font-family: "Roboto";
  font-style: normal;
}

h1 {
  width: 20%;
  max-width: 190px;
  margin: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #232323;
  text-align: center;
}

h2 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232323;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #5c5c5c;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #b7bac1;
  color: #5c5c5c;
}

h5 {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

